<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="whobuys.vovch.vovch.light">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="whobuys.vovch.vovch.light.ActiveActivityProvider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_test"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="whobuys.vovch.vovch.light.activities.WithLoginActivity" />
        <activity
            android:name="whobuys.vovch.vovch.light.activities.simple.GroupList2Activity"
            android:theme="@style/AppTheme.NoActionBarExtended" />
        <activity
            android:name="whobuys.vovch.vovch.light.activities.simple.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBarExtended" />
        <activity
            android:name="whobuys.vovch.vovch.light.activities.complex.Group2Activity"
            android:theme="@style/AppTheme.NoActionBarExtended" />
        <activity
            android:name="whobuys.vovch.vovch.light.activities.simple.NewGroup"
            android:theme="@style/AppTheme.NoActionBarExtended"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="whobuys.vovch.vovch.light.activities.simple.CreateListogramActivity"
            android:theme="@style/AppTheme.NoActionBarExtended" />
        <activity
            android:name="whobuys.vovch.vovch.light.activities.simple.SendBugActivity"
            android:theme="@style/AppTheme.NoActionBarExtended" />
        <activity
            android:name="whobuys.vovch.vovch.light.activities.complex.ActiveListsActivity"
            android:theme="@style/AppTheme.NoActionBarExtended">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="whobuys.vovch.vovch.light.activities.simple.GroupSettingsActivity"
            android:theme="@style/AppTheme.NoActionBarExtended"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <service
            android:name="whobuys.vovch.vovch.light.data_layer.firebase.ActiveCheckFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="whobuys.vovch.vovch.light.data_layer.firebase.ActiveCheckAndroidFirebaseMsgService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name="whobuys.vovch.vovch.light.recievers.NetworkReciever"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>